<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
</head>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'update' blog.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="subject" style="width:320px" value="{{ blog.subject }}" /><br />
        <textarea name="text" style="width:320px;height:150px">{{ blog.text}}</textarea><br />
        <input type="submit" value="Update" /><br />
        <a href="{% url 'index' %}">Return to blog</a>
    </form>
</body>
</html>
